Hibody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Styles for Digital Clock */
  .clock, .timer, .stopWatch {
    margin-bottom: 20px;
    text-align: center;
  }
  
  button {
    margin-top: 10px;
  }
  
  /* Responsive Styles */
  @media only screen and (min-width: 600px) {
    main {
      flex-direction: row;
    }
  
    .clock, .timer, .stopWatch {
      width: 33%;
      webkit-box-reflect: none ;
  }

  }
  
  @media only screen and (min-width: 768px) {
    .clock, .timer, .stopWatch {
      width: 25%;
        webkit-box-reflect: none ;
    }

  }

  



  
  
